.cardList {
  width: 400px;
  height: 170px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardList__image {
  position: absolute;
  top: -50px;
  z-index: 10;

  img {
    width: 130px;
    height: auto;
  }
}

.cardList__content {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  text-align: center;
}
